body{
  width:100%;
  background: url(img/back.png) 0 0 ,hotpink;
  margin: 0;
  padding:0;
  background-repeat:repeat-y;
  background-size: cover;
    background-attachment: fixed;
}
header{
  margin-top: -200px;
  width: 100%;
  position: fixed;
}
.header{
  height: 150px;
  background: rgba(255, 255, 255, 0.9);
}
.title{
    text-align: center;
    line-height: 100px;
    font-size: 65px;
    border-bottom: 3px solid ;
    border-image: linear-gradient(to right,skyblue,hotpink);
    border-image-slice: 1;
    width: 320px;
    margin: 0 auto;
}


#hrn{
   margin-top: -130px;
   margin-left: 85%;
   width: 125px;
   z-index: 50;
}



.hbot{
  background: url(himg/hhh33.png);
  background-position: 0 20px;
  height: 20px;
}
nav{
  width: 310px;
  margin: 0 auto;
}
ul{
  margin: 10px auto;
}
li{
  float: left;
  list-style: none;
  margin: 0 10px;
}
li:hover{
  border-bottom: 3px solid #555;
  transition: 0.3s;
}
#select{
  border-bottom: 3px dotted hotpink;
}
nav a{
  color: #333;
}

a{
  font-size: 20px;
  text-decoration: none;
  font-weight:bold;
}



#text{
  width: 1000px;
  height:1700px;
  margin: 200px auto 50px;
  border-radius: 53px;
  border: 1px solid #fff;
}
.text-l{
  width: 29.9%;
  background: rgba(255, 200, 200, 0.5);
  height: 1700px;
  float: left;
  border-radius: 50px 0 0 50px;
  border-right: 1px solid #fff;
}
.text-l li{
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  background-color:rgba(255, 200, 200, 0.7);/*  */
  border: 1px solid #fff;
  border-radius: 50px;
}
.text-l #rink{
  padding-top:20px;
  padding-left:10px;
}
.text-l a{
  color: #000;
  //border-bottom: 3px dotted hotpink;
}


#douga a{
  color:#000;
}


.text-r{
  width: 70%;
  background: rgba(250, 200, 250, 0.5);
  height: 1700px;
  float: right;
  border-radius: 0 50px 50px 0;
}
.text-r h2{
  margin-top:30px;
  margin-left:20px;
  padding:10px;
  background-color:rgba(250, 200, 250, 0.7);/*  */
  border: 1px solid #fff;
  border-radius: 50px;
  display:inline-block;
}
.text-r #kiyakuurl{
color:deeppink;
}
.text-r p,table{
  width:650px;
  margin:0 20px;
  font-size:20px;
  background-color:rgba(255, 255, 255, 0.5);
}
#bac{
  width:650px;
  height:350px;
  object-fit:cover;
}



#mailbtn{
margin:10px auto;
width:200px;
height:50px;
background:linear-gradient(pink,deeppink);
border-radius: 50px;
border: 1px solid #fff;
line-height: 50px;
text-align:center;
}
#mailtext{
color:#000;
}


footer{
  margin:0;
  width:100%;
  height: 100px;
  background: linear-gradient(transparent,deeppink);
  font-weight: 900;
  line-height: 100px;
}
